<div class="box mx-3 my-3" style="height:500px">
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Hover me</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p>Vis1</p>
            </div>
            <div class="dropdown-item">
                <p>Vis2</p>
              </div>
              <div class="dropdown-item">
                <p>Vis3</p>
              </div>
          </div>
        </div>
    </div>
</div>