<h1 class="title">Adjacency Matrix</h1>
<h2 class="subtitle is-6">An Adjacency Matrix for the emails</h2>

<div class="container" (resized)="onResized($event)" #container style="
overflow: hidden; 
width: 100%;
height: 800px;">
    <svg id="matrix"></svg>
</div>

<div class="container">
    <div class="level">
        <div class="level-item">
            <div class="control has-icons-left is-normal">
                <div class="select is-normal">
                    <select id="sortOptions" (change)="checkMatrixSortOption($event)">
                        <option id="IDSort" value="id">Sort by Id</option>
                        <option selected value="job">Sort by Job Function</option>
                        <option value="amount">Sort by Amount of Emails</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
<div class="container">
    <div class="level">
        <div class="level-item">
            <div class="control has-icons-left is-normal">
                <div class="select is-normal">
                    <select id="view" (change)="checkMatrixView($event); displayAccordingly();">
                        <option selected value="job">ID's grouped by Job Function</option>
                        <option value="all">View all ID's</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="level">
        <div class="level-item">
            <div class="control has-icons-left is-normal">
                <div id="checkBox">
                    <input type="checkbox" (change)="checkWeighted($event)" id="cb"
                        title="For each job title, shows the average number of emails sent per person">
                    <label id="label" for="cb"
                        title="For each job title, shows the average number of emails sent per person">Weighted mail
                        count</label>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div>
    <svg id="matrix-legend"></svg>
</div>
-->