<h1 class="title">Arc Diagram</h1>
<h2 class="subtitle is-6">An Arc Diagram for the emails</h2>

<div  class="container" (resized)="onResized($event)" #container style="
overflow: hidden; 
display: inline-block; 
width: 100%;
height: 800px;">
    <svg id="arc-diagram"></svg>
</div>
<!--Weird thing above. onResized did not run without adding display: inline-block to the above div? -->
<div class="container">
    <div class="level">
        <div class="level-item">
            <div class="control has-icons-left is-normal">
                <div class="select is-normal">
                    <select (change)="checkSortOption($event)">
                        <option selected value="id">Sort by Id</option>
                        <option value="job">Sort by Job Function</option>
                        <option value="amount">Sort by Amount of Emails</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>