<section class="hero has-background-white">
  <div class="hero-body">
    <div class="container" style="text-align: center;">
      <p class="title" style="font-size:xxx-large">
        The About page
      </p>
      <p class="subtitle" style="font-size:x-large">
        A quick guide on how to use our visualisation tool
      </p>
    </div>
  </div>
</section>

<section class="hero is-link">
  <div class="hero-body">
    <div class="columns is-mobile">
      <div class="column">
        <div class="container mx-5"
          style="text-align: left; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
          <p class="title">
            1. Uploading a .csv file
          </p>
          <p class="subtitle">
            Simply click on the upload button on the navbar or on the "Upload your own csv" button! This can be done
            from
            any page.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="container mx-5" style="text-align: center">
          <img src="./assets/Animation1.gif" alt="job" style="width: 70%">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="columns is-mobile">
      <div class="column">
        <img src="./assets/Animation2.gif" alt="job" style="width: 70%">
      </div>
      <div class="column">
        <div class="container mx-5"
          style="text-align: right; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
          <p class="title">
            2. Understanding the visualisation
          </p>
          <p class="subtitle">
            Now that the file is uploaded, a force directed graph will be generated. A node is an employee,
            the thickness of an edge represents the number of emails exchanged and red or green edges represent positive
            or
            negative interactions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-link">
  <div class="hero-body">
    <div class="columns is-mobile">
      <div class="column">
        <div class="container"
          style="text-align: left; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
          <p class="title">
            3. Interaction techniques
          </p>
          <p class="subtitle">
            To better understand the graph, you can drag any the nodes around, hover over a node to get more
            information about it or click a node or an edge to print information the console.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="container" style="text-align: center">
          <img src="./assets/Animation3.gif" alt="job" style="width: 70%">
        </div>
      </div>
    </div>
  </div>
</section>
