<!--Position is weird to compute:

goal: be as far left as possible
translate(x, y) takes percentages as size relative to the original element size (so translate 100% means move 100% of component size)
The box has the same size as the parent...
So to move the box to the far left, we move it 100%...
But this translation is relative to the origin of the object, which is the top left corner of the container...
So now the entire container is outside the parent... we'll fix this later

As the component should only take up a quarter of the space, I'll give it a width of 25% (auto relative to parent)

But now the translation (distance relative to itself) is also only 25% of the intended rotation...
So we have to get this back to 100% by multiplying our translation by 100/25 = 4, giving us a translation of 400%.

Then, to account for the fact that we are still outside the parent, we'll reduce the translation by our own size,
giving a translation of 300%

In short formula for translation: percentage = ([desired offset %]/[component_size %]) - 100%

-->

<h1 class="title">Force Directed Graph</h1>
<h2 class="subtitle is-6">FDG edge colors represent attidude of the email</h2>

<div class="container" (resized)="onResized($event)" #container style="
    overflow: hidden; 
    width: 100%;
    height: 800px;">
    <svg id="force-graph"></svg>
</div>

<div class="container">

    <!-- Controls -->
    <div class="level">

        <div class="level-right">

            <!-- Controls - Show Individual Links -->
            <div class="level-item">
                <label class="checkbox">
                    <input (change)="checkLinksOption($event)" type="checkbox">
                    Show Individual Links
                </label>
            </div>

        </div>

        <div class="level-left">

            <!-- Controls - Reset Zoom -->
            <div class="level-item">
                <button class="button is-rounded is-danger is-normal" (click)="resetZoom()">
                    <span class="icon is-left">
                        <i class="far fa-trash-alt"></i>
                    </span>
                    <span>Reset zoom</span>
                </button>
            </div>

        </div>


    </div>
</div>