<div class="block mt-3">
    <div class="block mt-3 pt-4 mx-3">

        <!--Area for Vis Controls bar-->
        <div class="level mb-1">
            <div class="level-left">

                <div class="level-item">
                    <div #dropdown1 class="level-item">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                    <span>Select a visualization</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                <div class="dropdown-content">
                                    <a [routerLink]="[{outlets: {vis1: ['force']}}]" class="dropdown-item">
                                        Force Directed Graph
                                    </a>
                                    <a [routerLink]="[{outlets: {vis1: ['arc']}}]" class="dropdown-item">
                                        Arc Diagram
                                    </a>
                                    <a [routerLink]="[{outlets: {vis1: ['matrix']}}]" class="dropdown-item">
                                        Adjacency Matrix
                                    </a>
                                    <a [routerLink]="[{outlets: {vis1: ['tree']}}]" class="dropdown-item">
                                        Treemap
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--<h3 id="myRangeStart"></h3>-->
            <!-- Slider -->
            <div class="level-item mx-5">
                <span id="myRangeMin" class="tag is-medium is-light mx-2 px-1 has-text-left"></span>
                <ngx-slider [(value)]="value" [(highValue)]="highValue" (userChangeEnd)="setNewDate($event)"
                    [options]="currentOptions"></ngx-slider>
                <span id="myRangeMax" class="tag is-medium is-light mx-2 px-1 has-text-right"></span>
            </div>
            <!--<h3 id="myRangeEnd"></h3>-->

            <div class="level-right">
                <div #dropdown2 class="level-item">
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                <span>Select a visualization</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content">
                                <a [routerLink]="[{outlets: {vis2: ['force']}}]" class="dropdown-item">
                                    Force Directed Graph
                                </a>
                                <a [routerLink]="[{outlets: {vis2: ['arc']}}]" class="dropdown-item">
                                    Arc Diagram
                                </a>
                                <a [routerLink]="[{outlets: {vis2: ['matrix']}}]" class="dropdown-item">
                                    Adjacency Matrix
                                </a>
                                <a [routerLink]="[{outlets: {vis1: ['tree']}}]" class="dropdown-item">
                                    Treemap
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Area for Visualisations-->
        <div class="columns is-mobile is-centered">
            <div #vis1 class="column is-5 has-text-centered">
                <div class="box">
                    <router-outlet name='vis1'></router-outlet>
                    <div class="buttons is-right">
                        <button #button1 (click)="fullscreenVis1()" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-arrows-alt"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Center area -->
            <div #infoCard class="column is-2 has-text-centered">

                <div class="columns is-centered">
                    <!--<div class="column is-narrow"></div>-->
                    <div class="column is-11">
                        <div class="field">
                            <div class="field">
                                <button class="button" (click)="setBrushMode()">
                                    <span class="icon is-small">
                                        <i class="fas fa-object-ungroup"></i>
                                    </span>
                                    <span>Brush select</span>
                                </button>
                                <button class="button" (click)="setPanMode()">
                                    <span class="icon is-small">
                                        <i class="fas fa-hand-pointer"></i>
                                    </span>
                                    <span>Pan - Click</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- The title for the legend card -->
                <div class="container mb-2">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">Legend</p>
                            <span class="card-header-icon" style="cursor:unset">
                                <i class="fas fa-info-circle"></i>
                            </span>
                        </header>

                        <!--The actual legend-->
                        <div class="card-content" style="overflow: hidden;" (resized)="onResized($event)">
                            <svg id="legend"></svg>
                        </div>
                    </div>
                </div>

                <!-- Information card -->
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Node Information</p>
                        <span class="card-header-icon" style="cursor:unset">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </header>

                    <!--ID value :: using a table to get consistant spacing with the lists of values below-->
                    <div class="card-content">
                        <div class="table-container">
                            <table id="id_table" class="table is-narrow is-hoverable is-fullwidth">
                                <tbody>
                                    <tr>
                                        <td id="node_id">Click a node to display addition information</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- emails received header-->
                    <header class="card-header">
                        <p class="card-header-title">Received emails from (id)</p>
                        <span class="card-header-icon" style="cursor:unset">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </header>

                    <!--received emals value-->
                    <div class="card-content has-text">
                        <div class="table-container">
                            <table id="nodeinfo_table_received" class="table is-narrow is-hoverable is-fullwidth">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- emails send header-->
                    <header class="card-header">
                        <p class="card-header-title">Send emails to (id)</p>
                        <span class="card-header-icon" style="cursor:unset">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </header>

                    <!--send emails value-->
                    <div class="card-content has-text">
                        <div class="table-container">
                            <table id="nodeinfo_table_send" class="table is narrow is-hoverable is-fullwidth">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

            <div #vis2 class="column is-5 has-text-centered">
                <div class="box">
                    <router-outlet name='vis2'></router-outlet>
                    <div class="buttons is-left">
                        <button #button2 (click)="fullscreenVis2();" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-arrows-alt"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    <div class="columns is-centered">
        <div class="column is-5 has-text-centered">
        <div class="box">
            <app-matrix></app-matrix>
        </div>
    </div>
    <div class="column is-5 has-text-centered">
        <div class="box">
            <app-treemap></app-treemap>
        </div>
    </div>
</div>
-->