<div class="block mt-0">
    <div class="block mt-1 mr-3 ml-3">

        <!--Area for Vis Controls bar-->
        <div class="level">
            <div class="level-left">

                <div class="level-item">
                    <div class="control has-icons-left is-normal">
                        <div class="select is-normal">
                            <select>
                                <option selected>Select visuals</option>
                                <option>To Be Implemented</option>
                                <option>To Be Implemented</option>
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>

                <!--<div class="level-item">
                    <button class="button is-rounded is-normal">PlaceHolder Button</button>
                </div>-->

                <!--<div class="level-item">
                    <div class="notification">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="foobar">
                                Use this
                            </label>
                            <label class="radio">
                                <input type="radio" name="foobar" checked>
                                Or that
                            </label>
                        </div>
                    </div>
                </div>-->


                <div class="level-item">
                    <div class="notification">
                        <label class="checkbox">
                            <input (change)="checkLinksOption($event)" type="checkbox">
                            Show Individual Links
                        </label>
                    </div>
                </div>

                <!--<div class="level-item">
                    <div class="notification">
                        <label class="checkbox">
                            <input type="checkbox">
                            Option 2
                        </label>
                    </div>
                </div>-->

            </div>

            <div class="level-right">

                <div class="level-item">
                    <button class="button is-rounded is-danger is-normal" disabled>
                        <span class="icon is-left">
                            <i class="far fa-trash-alt"></i>
                        </span>
                        <span>Reset all filters</span>
                    </button>
                </div>

                <div class="level-item">
                    <div class="control has-icons-left is-normal">
                        <div class="select is-normal">
                            <select>
                                <option selected>Select visuals</option>
                                <option>To Be Implemented</option>
                                <option>To Be Implemented</option>
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Area for visualisations -->
        <section class="hero">
            <div class="hero-body">

                <div class="columns">
                    <div class="column is-7">
                        <app-force-graph [file]="file" [showIndividualLinks]="showIndividualLinks"></app-force-graph>
                    </div>
                    <div class="column">
        
                        <div class="tiles is-ancestor">
                            <div class="tile is-vertical is-8 is-parent">
                                <div class="tile is-child card" style="background-color: transparent;">
                                    <header class="card-header">
                                        <p class="card-header-title">Node Information</p>
                                        <span class="card-header-icon" style="cursor:unset">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </header>
                                
                                    <!--First value-->
                                    <div class="card-content has-text">
                                        <div class="columns">
                                            <div class="column is-8">
                                                showcase value:
                                            </div>
                                            <div class="column">
                                                42
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!--Second value-->
                                    <div class="card-content has-text">
                                        <div class="columns">
                                            <div class="column is-8">
                                                showcase value:
                                            </div>
                                            <div class="column">
                                                42
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                
                            </div>

                            <div class="tile is-vertical is-parent">
                                <h1 class="title is-1">Force Directed Graph</h1>
                                <h2 class="sub-title is-2">A super cool kinda graph that is kinda true</h2>
                                    
                                
                            </div>
                        </div>
        
                    </div>
                </div>

            </div>
        </section>

        <section class="hero is-medium">
            <div class="hero-body">

                <div class="columns">

                    <div class="column">
        
                        <div class="tiles is-ancestor is-pulled-right">
                            <div class="tile is-vertical is-8 is-parent is-pulled-right">
                                <div class="tile is-child card is-pulled-right" style="background-color: transparent;">
                                    <header class="card-header">
                                        <p class="card-header-title">Node Information</p>
                                        <span class="card-header-icon" style="cursor:unset">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </header>
                                
                                    <!--First value-->
                                    <div class="card-content has-text">
                                        <div class="columns">
                                            <div class="column is-8">
                                                showcase value:
                                            </div>
                                            <div class="column">
                                                42
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!--Second value-->
                                    <div class="card-content has-text">
                                        <div class="columns">
                                            <div class="column is-8">
                                                showcase value:
                                            </div>
                                            <div class="column">
                                                42
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                
                            </div>

                            <div class="tile is-vertical is-parent is-pulled-right has-text-right">
                                <h1 class="title is-1">Barchart</h1>
                                <h2 class="sub-title is-2">Showing the number of emails per month</h2>
                            </div>
                            
                        </div>
        
                    </div>

                    <div class="column is-7">
                        <app-barchart [file]="file"></app-barchart>
                    </div>

                </div>

            </div>
        </section>

    </div>
</div>